body{
   font-family: 'Roboto Mono', monospace;
   background-color: rgba(255, 192, 203, 0.61);
}
h1{
   color:pink;
   text-align: center;
   font-size: 60px;
   font-weight:600;
}
h2{
   font-size: 30px;
   padding-bottom:15px ;
   padding-top: 10px;
   font-weight:500;
}
input{
   width: 400px;
}
p{
   color: grey;
}